<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504955930731-sbuirs7tbmqohdss4ls64oqegm8rbo44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504955930731-sbuirs7tbmqohdss4ls64oqegm8rbo44</string>
	<key>API_KEY</key>
	<string>AIzaSyABKxFmD_YffRcktmT60Zgb6Y9jl9fKueQ</string>
	<key>GCM_SENDER_ID</key>
	<string>504955930731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quti.DemoApp</string>
	<key>PROJECT_ID</key>
	<string>demoapp-ec999</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-ec999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504955930731:ios:22f0ba21b80aafa57e092e</string>
</dict>
</plist>