<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321641162610-d0qiudn9hrg5s6o3h5d3cq30h58cq02n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321641162610-d0qiudn9hrg5s6o3h5d3cq30h58cq02n</string>
	<key>API_KEY</key>
	<string>AIzaSyARA2i5wW2VVpdP2X1v2SqbI3JM81164qw</string>
	<key>GCM_SENDER_ID</key>
	<string>321641162610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quti.DemoApp</string>
	<key>PROJECT_ID</key>
	<string>demoapp-d4e01</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-d4e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321641162610:ios:74d515a16d7247a0225feb</string>
</dict>
</plist>